[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "idmodelr"]
	path = idmodelr
	url = https://github.com/seabbs/idmodelr
	shallow = true
	registered = true
